/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table {
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  vertical-align: middle;
}

.btn-secondary {
  background-color: #000;
  border-color: #000;
}

.modal-content {
  border-radius: 8px;
}

.modal-header {
  border-bottom: none;
}

.btn-close {
  background-color: transparent;
  border: none;
}
